# Import DataBase

In [5]:
# Imports

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd
import requests

In [6]:
connection_string = 'mysql://ironhack_user:%Vq=c>G5@173.201.189.217/BiciMAD'
engine = create_engine(connection_string)

In [7]:
inspector = inspect(engine)
inspector.get_table_names()
#type(inspector)

['bicimad_stations', 'bicipark_stations']

In [8]:
query = '''
SELECT *
FROM bicimad_stations
'''
df_1 = pd.read_sql_query(query, engine)
df_1

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]"
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]"
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]"
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]"
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]"

In [9]:
# Separación de Latitud y Longitud
df_1[['Latitud','Longitud']]=df_1['geometry.coordinates'].str.split(',',expand=True)
df_1.head (15)

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,Latitud,Longitud
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",[-3.7018341,40.4172137]
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",[-3.701602938060457,40.41731271011562]
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",[-3.7058415,40.4205886]
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",[-3.7069171,40.4302937]
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",[-3.7025875,40.4285524]
5,6,5 - Fuencarral,1,5,Calle Fuencarral nº 108,1,0,27,25,0,0,Point,"[-3.70205, 40.42852]",[-3.70205,40.42852]
6,7,6 - Colegio Arquitectos,3,6,Calle Hortaleza nº 63,1,1,24,0,0,0,Point,"[-3.698447, 40.424148]",[-3.698447,40.424148]
7,8,7 - Hortaleza,3,7,Calle Hortaleza nº 75,1,1,21,0,0,0,Point,"[-3.6977715, 40.4251906]",[-3.6977715,40.4251906]
8,9,8 - Alonso Martínez,1,8,Plaza de Alonso Martínez nº 5,1,0,24,22,0,0,Point,"[-3.6954403, 40.4278682]",[-3.6954403,40.4278682]
9,10,9 - Plaza de San Miguel,2,9,Plaza de San Miguel nº 9,1,0,24,10,10,0,Point,"[-3.7095084, 40.4156057]",[-3.7095084,40.4156057]
10,11,10 - Marqués de la Ensenada,2,10,Calle Marqués de la Ensenada nº 16,1,0,24,8,12,0,Point,"[-3.69214, 40.42533]",[-3.69214,40.42533]
11,12,11 - San Andrés,1,11,Calle San Andrés nº 18,1,0,24,16,1,0,Point,"[-3.7035918, 40.4269483]",[-3.7035918,40.4269483]
12,13,12 - San Hermenegildo,1,12,Calle San Bernardo nº 85,1,0,24,18,2,0,Point,"[-3.7061931, 40.4284246]",[-3.7061931,40.4284246]
13,14,13 - Conde Duque,1,13,Calle Conde Duque nº 22,1,0,24,14,1,0,Point,"[-3.7104417, 40.4273264]",[-3.7104417,40.4273264]
14,15,14 - Ventura Rodríguez,3,14,Calle Duque de Liria,1,1,24,0,0,0,Point,"[-3.713479, 40.4260957]",[-3.713479,40.4260957]

In [41]:
# Limpieza de datos "[]"
df_1 ['Latitud'] = df_1['Latitud'].str.replace("[","")
df_1 ['Longitud'] = df_1['Longitud'].str.replace("]","")
df_1.head(5)

C:\Users\abarr\AppData\Local\Temp\ipykernel_12648\2409625264.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_1 ['Latitud'] = df_1['Latitud'].str.replace("[","")
C:\Users\abarr\AppData\Local\Temp\ipykernel_12648\2409625264.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_1 ['Longitud'] = df_1['Longitud'].str.replace("]","")

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,Latitud,Longitud
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.7018341,40.4172137
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701602938060457,40.41731271011562
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.7058415,40.4205886
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.7069171,40.4302937
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.7025875,40.4285524

In [42]:

print(type(df_1['Latitud']))

<class 'pandas.core.series.Series'>

In [48]:
# Convertir string a float
df_1['Latitud'] = df_1['Latitud'].astype(float)
df_1['Longitud'] = df_1['Longitud'].astype(float)
df_1

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,Latitud,Longitud
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]",-3.729970,40.438960
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]",-3.726990,40.443750
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]",-3.726930,40.443420
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]",-3.727295,40.448332
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]",-3.729370,40.451090